@font-face {
    font-family: Sandoll GothicNeoRound;
    font-style: normal;
    font-weight: 400;
    src: url(/font/SDGothicNeoRound-gBd.otf) format("opentype")
}

@font-face {
    font-family: Sandoll GothicNeoRound1;
    font-style: normal;
    font-weight: 700;
    src: url(/font/SDGothicNeoRound-hEb.otf) format("opentype")
}


@font-face {
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    src: url(/font/BKBulMatPro-Bold.woff) format("opentype")
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Sandoll GothicNeoRound;
}

li {
    list-style-type: none;
    display: list-item;
}

ul {
    padding: 0;
}

a {
    color: #502314;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    outline: none;
    display: inline-flex;
}

#wrap {
    background-color: #f5ebdc;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    color: #502314;
   
}


#main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main_out {
    padding: 40px 60px 0;
    overflow: initial;
    position: relative;
    flex: 1;
}

.main_in {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
}

.event {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 34px;
    text-align: center;

}

.이벤트 {
    font-weight: 700;
    font-size: 34px;
    font-family: Sandoll GothicNeoRound;

}

/* 네비게이션 바 */
.top_bar {
    position: sticky;
    top: 98px;
    margin: 0 -60px;
    padding: 30px 60px;
    background-color: #f5ebdc;
    z-index: 50;
}

.tab {
    padding: 0;
    margin-top: -30px;
    border-bottom: 1px solid #e4d7c8;
}

.tab ul {
    display: flex;
    margin: 0;
    padding: 0;

}

.tab li {
    position: relative;
    flex: 1;

}

button {
    margin: 0;
    font-size: 19px;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    width: 100%;
}

.tab button {
    height: 50px;
    padding: 5px 10px;
    font-family: 700;
    font-size: 17px;

}

.tab .진행 button {
    color: #d62300;
    opacity: 1;
}

.진행 span {
    font-size: 19px;
    font-weight: 700;
    font-family: Sandoll GothicNeoRound1;
}

.종료 span {
    font-size: 19px;
    font-weight: 700;
    opacity: 0.5;
    color: #502314;
    font-family: Sandoll GothicNeoRound1;
}

/* event_main */

.event_main {
    display: flex;
    margin: 0 -9px 40px;
    flex-wrap: wrap;
}

.event_main li {
    width: 454px;
    margin: 0 9px 60px;
    position: relative;
}

.event_main img {
    margin: 0;
    border: 1px solid #e4d7c8;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    width: 100%;

}

.img {
    max-width: 100%;
    vertical-align: top;
    border: none;

    overflow: clip;
}

.event_main .text {
    margin-top: 15px;
    text-overflow: ellipsis;
}

.text span {
    font-size: 17px;
}

.img_button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-indent: -999em;
    font-weight: 500;
    font-size: 17px;
    color: #6f6f6f
}


.일반 {
    margin-right: 5px;
    padding: 0 5px;
    display: inline-block;
    background-color: rgba(80, 35, 20, .1);
    border-radius: 5px;
    text-align: center;
}

.text .일반 {
    height: 24px;
    font-size: 12px;
    line-height: 25px;
}

.text span {
    vertical-align: middle;
    font-family: Sandoll GothicNeoRound;
    color: #502314;
}



/* ============= header ============= */

#header {
    position: sticky;
    top: 0;
    background-color: #f5ebdc;
    padding: 0 60px;
    width: 100%;
    z-index: 50;
}

#title {
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 98px;
    margin: 0 auto;
    align-items: center;
    
}

#logo {
    display: block;
}

.title_logo {
    display: inline-block;
    min-width: 200px;
    height: 24px;
    text-indent: -99999px;
    background: url(/news/img/logo.svg) no-repeat 50%;
}

.menu {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
    margin: 0;
}

.menu_bar{
    display: flex;
}

.menu_bar > ul{
   display: flex;
}

.menu_bar >  li{
    position: relative;
}


.m1{
    height: 100%;
    display: block;
}

.m1 > a{
    display: flex;
    padding: 10px 20px;
    height: 100%;
}

.m1 > a > span{
    font-size: 24px;
    font-family: Pretendard;
    font-weight: 700;
}

.side_menu{
    display: flex;
    position: relative;
    margin-left: auto;
    gap: 10px;
    width: 18%;
}

.side_menu a{
    display: block;
    padding: 12px 5px 12px;
}

.채용{
    background: url(/news/img/채용사이트.svg) no-repeat left 16px center;
    background-color: #502314;
    border-radius: 30px;
    width: 48%;
}



.가맹점{
    border-radius: 320px;
    background: url(/news/img/가맹점모집.svg) no-repeat left 16px center;
    background-color: #502314;
    background-size: 14px;
    width: 52%;
    
}


.side_menu > a, button{
    height: 36px;
    padding: 5px 16px 5px 34px;
    font-size: 14px;
    color: #f5ebdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_menu{
    top: 80px;
    left: -250px;
    width: 600px;
    display: flex;
    background-color: #502314;
    border-radius: 50px; 
    position: absolute;
    padding-left: 25px;
    font-size: 17px;
    display: none;
}

.H1:hover .sub_menu{
    display: flex;
}

.sub_menu a{
    display: block;
    height: 48px;
    padding: 5px 12px;
    font-size: 17px;
    line-height: 38px;
    color: #89665b;
}

.sub_menu > li > a > span{
    font-size: 17px;
}

.sub_menu2{
    top: 80px;
    left: -50px;
    width: 210px;
    display: flex;
    background-color: #502314;
    border-radius: 50px; 
    position: absolute;
    padding-left: 25px;
    font-size: 17px;
    display: none;
}

.sub_menu2 > li > a > span{
    font-size: 17px;
}


.sub_menu2 a{
    display: block;
    height: 48px;
    padding: 5px 12px;
    font-size: 17px;
    line-height: 38px;
    color: #89665b;
}

.H2:hover .sub_menu2{
    display: flex;
    
}
